<div class="filtreAffichage">

        <!-- #http://www.opentuto.com/les-icones-bootstrap-3/ -->
        <!-- #http://fontawesome.io/icons/ -->

      <span id="listAffichage" class="fa fa-th-list fa-3x"></span>
      <span id ="blockAffichage" class="fa fa-th fa-3x"></span>
      <div id= "filtre" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="filtreButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="filtreButton">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

      <div id="trie" class = "dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="trieButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="trieButton">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
</div>
<div  id ="plusCreateProjet" class="fa fa-plus-square-o fa-3x" data-toggle="modal" data-target="#modelCreateProject" aria-hidden="true"></div>
{{ render(controller('EasyScrumEasyScrumBundle:Projet:create')) }}
<img id="archiveIcon" src= {{ asset('bundles/easyscrumeasyscrum/images/archive.png')}} alt="archive" />




<div class="divtitle"> Mes projets </div>
  <div id="myprojects">
    {% for projet in myProjects %}
    <div class="divProject" >
      <div class="well" id="projetNom">{{ projet.nom }}
        <form class="archiveProject" action="{{path('project_archive')}}" method="post">
          <input class="hiddenId_projectToArchive" type ="text" name="projectToarchive_id" value="{{projet.id}}">
          <button type ="submit" class="fa fa-circle disableCircle" aria-hidden="true" style="color : green; " onclick="return(confirm('Etes-vous sûr de vouloir archiver ce projet'));">
        </form>
      </div>
      <div id="projetBlock" class="well">
        <div id="projetRecap">{{ projet.description }}</div>
        <div class="hidden_id">{{ projet.id}}</div>
        <div class="hidden_url">{{ path('project_view', {'id' : projet.id}) }}</div>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="divtitle"> Les projets partagés avec moi</div>
  {% for projet in projects %}
  <div class="divProject" >
    <div class="well" id="projetNom">{{ projet.nom }}
      <form class="archiveProject" action="{{path('project_archive')}}" method="post">
        <input class="hiddenId_projectToArchive" type ="text" name="projectToarchive_id" value="{{projet.id}}">
        <button type ="submit" class="fa fa-circle disableCircle" aria-hidden="true" style="color : green; ">
      </form>
    </div>
    <div id="projetBlock" class="well">
      <div id="projetRecap">{{ projet.description }}</div>
      <div class="hidden_id">{{ projet.id}}</div>
      <div class="hidden_url">{{ path('project_view', {'id' : projet.id}) }}</div>
    </div>
  </div>
  {% endfor %}
</div>
