<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}EasyScrum {% endblock%} </title>
  <link rel="stylesheet" href= {{ asset('bundles/easyscrumeasyscrum/css/style.css') }}>
  <script src=  {{ asset('bundles/easyscrumeasyscrum/js/jquery-3.1.1.min.js') }} ></script>
  <script src=  {{ asset('bundles/easyscrumeasyscrum/js/script.js') }}  ></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<body>
  <nav class="navbar navbar-inverse" style="margin-bottom:0px;  border-radius: 0px; color: black">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Evolutis-EasyScrum</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Help</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li  class="dropdown" ><a class="dropdown-toogle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"> {{app.user.username}}</span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Paramètres</a></li>
          <li><a href="#">Reporter un bug</a></li>
        </ul>
      </li>


      <li  class="dropdown" ><a class="dropdown-toogle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-envelope"></span> Chat <span class="carnet"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>


      <li  class="dropdown" ><a class="dropdown-toogle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bell"></span> Notification</a><span class="carnet"></span>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>


    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <li>
        <a href="{{ path('fos_user_security_logout') }}">
          <span class="glyphicon glyphicon-log-out"></span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
      </li>

    {% else %}
      <li>
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
      </li>
    {% endif %}

    </ul>
  </div>
</nav>

<div id="menuContent">
  <div id="menuVertical">
      <ul>
        <li><a id="projetsClick"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/projetIcon.png')}} alt="projetIcon"><p class="texteMenu">Projets</p></a></li>
        <li><a id="personnesClick" href="#Personnes"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/peopleIcon.png')}} alt="peopleIcon"><p class="texteMenu">Personnes</p></a></li>
        <li><a id="codeClick" href="#Code"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/gitIcon.png')}} alt="gitIcon"><p class="texteMenu">Dépôt Code</p></a></li>
        <li><a id="docClick" href="#Doc"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/docIcon.png')}} alt="docIcon"><p class="texteMenu">Documents</p></a></li>
        <li><a id="timeClick" href="#TimeSheet"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/timesheetIcon.png')}} alt="timesheetIcon"><p class="texteMenu">Timesheet</p></a></li>
        <li><a id="forumClick" href="#Forum"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/ForumIcon.png')}} alt="forumIcon"><p class="texteMenu">Forum</p></a></li>
        <li><a id="calendrierClick" href="#Calendrier"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/calendarIcon.png')}} alt="calendarIcon"><p class="texteMenu">Calendrier</p></a></li>
        <li><a id="trackClick" href="#Trackers"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/trackIcon1.png')}} alt="trackIcon"><p class="texteMenu">Trackers</p></a></li>
        <li><a id= "paramClick" href="#Paramètres"><img class='imageMenu' src= {{ asset('bundles/easyscrumeasyscrum/images/settingsIcon.png')}} alt="settingsIcon"><p class="texteMenu">Paramètres</p></a></li>
      </ul>
  </div>

  <div id="content">

  {% block content %}
  {% endblock %}

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</div>

<footer>
  <div id="miniFooter">
      <p id="copyright"> Copyright © Evolutis </p>

      <div id="networkIcon">
        <img id="facebook" src= {{ asset('bundles/easyscrumeasyscrum/images/facebookIcon.png')}} alt="Facebook">
        <img id="twitter" src= {{ asset('bundles/easyscrumeasyscrum/images/twitterIcon.png')}} alt="Twitter">
        <img id="LinkedIn" src= {{ asset('bundles/easyscrumeasyscrum/images/linkedinIcon.png')}} alt="LinkedIn">
        <img id="google+" src= {{ asset('bundles/easyscrumeasyscrum/images/google+Icon.png')}} alt="Google+">
      </div>
  </di>

<script type="text/javascript">
  //Variable global afin de faire le load
    urlCreateProject = ('{{path("project_create")}}');
    urlProjets = ('{{path("show_projets")}}');
    urlProjetsList= ('{{ path("show_projets_list")}}')
    
</script>

</footer>
</body>
{% else %}

 {% include ('EasyScrumEasyScrumBundle:Default:notLogin.html.twig') %}

{%endif%}


</html>
